<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="color:blue;">Registration</h2>
<form action="register" method="post">
    {%csrf_token%}
    <input type="text" name="username" placeholder="Enter your user name" style="background-color:lime;border:1px solid black;"><br>
    <input type="text" name="first_name" placeholder="Enter your first name" style="background-color:lime;border:1px solid black;"><br>
    <input type="text" name="last_name" placeholder="Enter your last name" style="background-color:lime;border:1px solid black;"><br>
    <input type="email" name="email" placeholder="Enter your email address" style="background-color:lime;border:1px solid black;"><br>
    <input type="password" name="password" placeholder="Enter your password" style="background-color:lime;border:1px solid black;"><br>
    <input type="password" name="password1" placeholder="confirm your password" style="background-color:lime;border:1px solid black;"><br>
    <input type="submit" style="background-color:orange;border:1px solid black;">

</form>
{% for msg in messages%}
<h2>{{ msg }}</h2>
{% endfor %}
</body>
</html>